  <div role="main" class="main">
        <div id="content" class="content full">

          <div class="slider-container">
            <div class="slider" id="revolutionSlider" data-plugin-options='{"startheight": 495}'>
              <ul>
                <li data-transition="fade" data-slotamount="13" data-masterspeed="300" >

                  <img src="img/slides/men-in-black.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" alt="" />

                  <div class="tp-caption fullscreenvideo visible-lg"
                    data-x="0"
                    data-y="0"
                    data-speed="0"
                    data-start="0"
                    data-easing="easeOutExpo"
                    data-autoplay="true"
                    data-nextslideatend="true"
                    data-forceCover="1"
                    data-dottedoverlay="twoxtwo"
                    data-aspectratio="16:9"
                    data-forcerewind="on">

                    <video class="video-js vjs-default-skin" autoplay loop poster="img/slides/men-in-black.jpg">
                      <source src="video/men-in-black.mp4"  type='video/mp4;  codecs="avc1.42E01E, mp4a.40.2"'>
                      <source src="video/men-in-black.ogv"  type='video/ogg;  codecs="theora, vorbis"'>
                    </video>

                  </div>

                  <div class="tp-caption sft stb visible-lg"
                     data-x="center" data-hoffset="-150"
                     data-y="180"
                     data-speed="300"
                     data-start="1000"
                     data-easing="easeOutExpo"><img src="img/slides/slide-title-border.png" alt=""></div>

                  <div class="tp-caption top-label lfl stl"
                     data-x="center"
                     data-y="180"
                     data-speed="300"
                     data-start="500"
                     data-easing="easeOutExpo">Czy już znasz</div>

                  <div class="tp-caption sft stb visible-lg"
                     data-x="center" data-hoffset="150"
                     data-y="180"
                     data-speed="300"
                     data-start="1000"
                     data-easing="easeOutExpo"><img src="img/slides/slide-title-border.png" alt=""></div>

                  <div class="tp-caption main-label sft stb"
                     data-x="center"
                     data-y="210"
                     data-speed="300"
                     data-start="1500"
                     data-easing="easeOutExpo">NOWE TECHNOLOGIE?</div>

                  <div class="tp-caption bottom-label sft stb"
                     data-x="center"
                     data-y="280"
                     data-speed="500"
                     data-start="2000"
                     data-easing="easeOutExpo">Sprawdź moje portfolio już teraz.</div>

                </li>
              </ul>
            </div>
          </div>

          <div class="home-intro">
            <div class="container">

              <div class="row">
                <div class="col-md-8">
                  <p>
                    To od Ciebie zależy jak będzie wyglądać Twoja <em>Applikacja.</em>
                    <span>Sprawdź moje projekty i poznaj całkowicie nowe możliwości.</span>
                  </p>
                </div>
                <div class="col-md-4">
   
                </div>
              </div>

            </div>
          </div>

          <div class="container">

            <div class="row center">
              <div class="col-md-12">
                <h2 class="short word-rotator-title">
                  Programowanie jest
                  <strong class="inverted">
                    <span class="word-rotate">
                      <span class="word-rotate-items">
                        <span>niezwykle</span>
                        <span>wybitnie</span>
                        <span>niesamowicie</span>
                      </span>
                    </span>
                  </strong>
                  przyjemne i satysfakcjonujące.
                </h2>
                <p class="featured lead">
                  Dzięki programowaniu możemy tworzyć dowolną rzecz. Jedynym ograniczeniem jest nasza wyobraźnia.
                </p>
              </div>
            </div>

          </div>

          <div class="home-concept">
            <div class="container">

              <div class="row center">
                <span class="sun"></span>
                <span class="cloud"></span>
                <div class="col-md-2 col-md-offset-1">
                  <div class="process-image" data-appear-animation="bounceIn">
                    <%= image_tag "strategy.jpg" %>
                    <strong>Strategia</strong>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="200">
                    <%= image_tag "planning.jpg" %>
                    <strong>Planowanie</strong>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="400">
                    <%= image_tag "exec.jpg" %>
                    <strong>Wykonanie</strong>
                  </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                  <div class="project-image">
                    <div id="fcSlideshow" class="fc-slideshow">
                      <ul class="fc-slides">
                        <li><%= image_tag "project1.jpeg" %></li>
                        <li><%= image_tag "project2.jpeg" %></li>
                        <li><%= image_tag "project3.png" %></li>
                      </ul>
                    </div>
                    <strong class="our-work">Moje projekty</strong>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="container">

            <div class="row">
              <hr class="tall" />
            </div>

          </div>        

          <div class="map-section">
            <section class="featured footer map">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="recent-posts push-bottom">
                      <h2>Najnowsze wiadomości</h2>
                      <div class="row">
                        <div class="owl-carousel" data-plugin-options='{"items": 1, "autoHeight": true}'>
                          <div>
                            <% @posts.each do |p| %>
                              <div class="col-md-12">
                                <article>
                                  <div class="date">
                                    <span class="day"><%= p.created_at.strftime('%d') %></span>
                                    <span class="month"><%= p.created_at.strftime('%b') %></span>
                                  </div>
                                  <h4><%= link_to p.title, post_path(p) %></h4>
                                  <p><%= truncate(p.content, length: 200, separator: ' ', escape: false) %> <a href="<%= post_path(p) %>" class="read-more">czytaj więcej <i class="icon icon-angle-right"></i></a></p>
                                </article>
                              </div>  
                            <% end %>
                          </div>                
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h2><strong>Opinie</strong> klientów</h2>
                    <div class="row">
                      <div class="owl-carousel push-bottom" data-plugin-options='{"items": 1, "autoHeight": true}'>
                        <% @opinions.each do |o| %>
                          <div>
                            <div class="col-md-12">
                              <blockquote class="testimonial">
                              <p><%= o.content %></p>
                              </blockquote>                           

                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>