= simple_form_for [:admin, @post], :html => {class: "form-horizontal"} do |f|
  .form-group
    = f.label :title, class: "col-sm-2 control-label"
    .col-sm-10
      = f.input_field :title, label: false, class: "form-control"
  - if @post.id.present?
    .form-group
      = f.label :slug, class: "col-sm-2 control-label"
      .col-sm-10
        = f.input_field :slug, label: false, class: "form-control"
  .form-group
    = f.label :description, class: "col-sm-2 control-label"
    .col-sm-10
      = f.input_field :description, label: false, class: "form-control"
  .form-group
    = f.label :keywords, class: "col-sm-2 control-label"
    .col-sm-10
      = f.input_field :keywords, label: false, class: "form-control"
  .form-group
    = f.label :content, class: "col-sm-2 control-label"
    .col-sm-10
      = f.input_field :content, label: false, class: "form-control"
  .form-group
    = f.label :image, class: "col-sm-2 control-label"
    .col-sm-10
      = f.input_field :image, label: false, class: "form-control"
  .form-group
    %label.col-sm-2.control-label Kategorie 
    .col-sm-10
      = f.association :post_categories , label: false, input_html: {class: "select2", style: "width: 100%;"}

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit, "Zapisz" , class: "btn btn-default"