%header
  .container
    %h1.logo
      %a{:href => "index.html"}
        %img{:alt => "Porto", "data-sticky-height" => "40", "data-sticky-width" => "82", :height => "54", :src => "/img/logo.png", :width => "111"}/
    %button.btn.btn-responsive-nav.btn-inverse{"data-target" => ".nav-main-collapse", "data-toggle" => "collapse"}
      %i.icon.icon-bars
  .navbar-collapse.nav-main-collapse.collapse
    .container
      .social-icons
        %ul.social-icons
          %li.facebook
            %a{:href => "http://www.facebook.com/olesinski.przemyslaw", :target => "_blank", :title => "Facebook"} Facebook
          %li.googleplus
            %a{:href => "http://plus.google.com/+PrzemysławOlesiński/", :target => "_blank", :title => "Twitter"} Twitter
          %li.linkedin
            %a{:href => "http://www.linkedin.com/in/przemyslawolesinski/", :target => "_blank", :title => "Linkedin"} Linkedin
      %nav.nav-main.mega-menu
        %ul#mainMenu.nav.nav-pills.nav-main
          %li{:class => active_link_to(root_path)}
            = link_to "Strona główna", root_path
          %li{:class => active_link_to(about_path)}
            = link_to "O mnie", about_path
          %li{:class => active_link_to(projects_path)}
            = link_to "Projekty", projects_path
          / %li
          /   = link_to "Open Source", ""
          %li{:class => active_link_to(opinions_path)}
            = link_to "Opinie", opinions_path
          %li{:class => active_link_to(posts_path)}
            = link_to "Blog", posts_path
          %li{:class => active_link_to(contact_path)}
            = link_to "Kontakt", contact_path