<!DOCTYPE html>
<!--[if IE 8]>      <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>      <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
  <head>

    <!-- Basic -->
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : "Web Developer | Przemysław Olesiński" %></title>
    <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : "portfolio, web design, darmowe szkolenia" %>" />
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Web Developer | Przemysław Olesiński" %>">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/vendor/owl-carousel/owl.carousel.css" media="screen">
    <link rel="stylesheet" href="/vendor/owl-carousel/owl.theme.css" media="screen">
    <link rel="stylesheet" href="/vendor/magnific-popup/magnific-popup.css" media="screen">
    <link rel="stylesheet" href="/vendor/isotope/jquery.isotope.css" media="screen">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/theme-elements.css">
    <link rel="stylesheet" href="/css/theme-animate.css">

    <!-- Current Page Styles -->
    <link rel="stylesheet" href="/vendor/rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" href="/vendor/circle-flip-slideshow/css/component.css" media="screen">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="/css/skins/blue.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/theme-responsive.css" />

    <!-- Head Libs -->
    <script src="/vendor/modernizr.js"></script>
    
     

    <!--[if IE]>
      <link rel="stylesheet" href="/css/ie.css">
    <![endif]-->

    <!--[if lte IE 8]>
      <script src="/vendor/respond.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="body">
      <%= render 'layouts/nav' %>

      <%= yield %>

      <%= render 'layouts/footer' %>
      <%= render 'layouts/noty' %>
    </div>
     <!-- Libs -->
    <script src="/vendor/jquery.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/vendor/jquery.easing.js"></script>
    <script src="/vendor/jquery.appear.js"></script>
    <script src="/vendor/jquery.cookie.js"></script>
    <%= javascript_include_tag "application" %>

    <script src="/vendor/bootstrap.js"></script>
    <script src="/vendor/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script src="/vendor/rs-plugin/js/jquery.themepunch.revolution.js"></script>
    <script src="/vendor/owl-carousel/owl.carousel.js"></script>
    <script src="/vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
    <script src="/vendor/magnific-popup/magnific-popup.js"></script>
    
    <!-- Current Page Scripts -->
    <script src="/js/views/view.home.js"></script>
    <script src="/vendor/jquery.validate.js"></script>

    <script src="/vendor/isotope/jquery.isotope.js"></script>

    <!-- Theme Initializer -->
    <script src="/js/theme.js"></script>

    <!-- Custom JS -->
    <script src="/js/custom.js"></script>
    <%= yield(:js) %>
  
  </body>
</html>